.nav {
    grid-area: n;
    background: white;
    border-radius: 10px;
    font-size: 20px;
    padding: 20px;
}

.nav_item {
    padding-top: 20px;
}

/*a {*/
/*    text-decoration: none;*/
/*    color: #0a0a0a;*/
/*}*/
.active_link {
    padding: 5px 20px;
    background: #DAE2EA;
    border-radius: 2px;
}